body {
    background: rgb(209, 149, 38);
    background: linear-gradient(#cf7a17, #3da2b6);
}

p {
    font-size: medium;
}

.tablero {
    border: 1px red solid;
    display: flex;
    justify-content: space-between;
    background-color: rgb(50,50,50);
    text-align:center;
    

}

.jugador{
    padding: 20px;
   width: 300px;
    height: 300px;
    background : url("pelota.PNG") no-repeat;
    background-size : contain;
     position: relative;
<<<<<<< Updated upstream
    transition: all ease-in-out 0.5s;
    background-size: 100% 100%;

=======
     background-size: 100% 100%; 
>>>>>>> Stashed changes
}

.jugador:hover{
    width: 320px;
    height: 320px;
    background : url("pelota.PNG") ;
    background-size : contain;
    position: relative;
    transition: all ease-in-out 0.5s;
}



.foto-jugador1, .foto-jugador2{
    width: 200px;
    height: 200px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-40%); 
   
}

.jugador p {
    background:rgb(73, 179, 41);
    position: absolute;
     left: 40%;
     top: 5%;
    
}

.cronometro {
    background: rgb(50,50,50);
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 20px;
    margin-left: 60%;
    margin-right: 25%;
    margin-top: 5%;
    margin-bottom: 5%;
    min-width: 20px;
    
    
}

table {
    width: 50%;
	height: 300px;
    font-size: 45px;
}

.contador  {
    border: 1px solid rgba(100, 200, 0, 0.3);
    background: #c18c96;
    top: 50%;
}

.puntaje { 
    display:flex;
    /* padding: auto; */
    margin: auto;
    width: 350px;
    height: 120px;
    align-items: center;
    background-color: transparent;
    
   
    
    
    
    
}

.resultado {
    
    background : rgb(199, 186, 186);
    font-size: 70px;
    width: 400px;
    height: 100px;
     margin: auto;
    text-align: center;
    line-height: 100px; 
    
    
}


.saque {
<<<<<<< Updated upstream
    position: relative;
    left: -5%;
    width: 70px;
    height: 70px; 
=======
     position: absolute;
    /* left: 40%;
     top: 62%; */
    width: 50px;
    height: 50px;
    /* transform: translate(50%,50%); */
   
>>>>>>> Stashed changes
}

.saque:hover {
    position: relative;
    left: 105%;
    width: 70px;
    height: 70px; 
}


.boton1 {
    /* position: relative;
    width: 200px;
    height: 50px ;
    translate: ;
    left: -100% ;  */
}